* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    /*border: 1px solid red; /* For debugging purposes, can be removed later */
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: linear-gradient(to bottom, #FFF4C4, #F76AA7);
}

body p {
    font-size: 1.2rem;
    line-height: 1.6;
}

body h2 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.cta-button {
    margin: 2rem;
    padding: 10px 20px;
    border-radius: 25px;
    font-weight: 600;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.cta-button:hover {
    transform: scale(0.95);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Navbar Styling */
nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}

.fa-bars{
    font-size: 2rem;
    color: #F76AA7; 
    padding: 2rem;
}

/* Header Styling */
header { 
    background-color: #FAD1E2;
    color: #F76AA7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    position: relative;
}

#flower1, #flower2 {
    width: 30%;
    height: auto;
    position: absolute;
    animation: rotate infinite 40s linear;
}

#flower1 {
    bottom: -15%;
    left: -5%;
}

#flower2 {
    top: -10%;
    right: -5%;
}

header h1 {
    font-size: 10rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-transform: uppercase;
}

header h2 {
    font-size: 3rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.header-cta {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.hero-button-1 {
    background-color: #FFF4C4;  /* Change the color later*/
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin: 10px 0;
    width: 40%;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.hero-button-1 a {
    color: #f93f8f;
    font-weight: 600;
}

.hero-button-1:hover {
    transform: scale(0.95);
    background-color: white;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.hero-button-2 {
    background-color: #C94F85; /* Change the color later*/
    border: none;
    border-radius: 25px;
    padding: 10px;
    margin: 10px 0;
    width: 40%;
    text-align: center;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.hero-button-2 a {
    color: #FFF4C4; 
    font-weight: 600;
}

.hero-button-2:hover {
    transform: scale(0.95);
    background-color: #f93f8f; /* Change the color later*/
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.fa-chevron-down {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    font-size: 3rem;
    color: #F76AA7; 
    animation: translate infinite 2s linear;
}
/* About Section Styling */
#about {
    color: #F76AA7;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    text-align: justify;
    overflow-x: hidden;
}

.about-container {
    padding: 0 2rem;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-container-up, .about-container-down {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-text, .about-image {
    padding: 4rem;
    width: 100%;
    height: 50vh;
}

.about-image {
    background-color: #F76AA7;
}

.about-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#about img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#about .cta-button {
    background-color: #F76AA7;
    color: #FFF4C4; 
}

/* Mission Section Styling */
#mission {
    color: #F76AA7; 
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
}

#mission img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: auto;
    margin-bottom: 2rem;
}

.mission-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.mission-item {
    background-color: #F76AA7;
    color: #FFF4C4;
    border-radius: 25px;
    width: 20%;
    margin: 2rem 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.mission-item:hover {
    background-color: #C94F85;
    transform: scale(1.005);
    transition: all 0.3s ease-in-out;
}

#mission .cta-button {
    background-color: #FFF4C4;
    color: #F76AA7;
}

/* Join Us Section Styling */
#join {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#join img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.join-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin: 2rem 0;
}

.join-container-up, .join-container-down {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.join-item {
    position: relative;
    height: 250px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF4C4;
    transition: background 0.3s ease-in-out;
}

.join-container-up .join-item {
    width: 45%;
}

.join-container-down .join-item {
    width: 30%;
}

.join-text {
    position: absolute;
    opacity: 0;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.join-item:hover .join-text {
    opacity: 1;
}

.join-item:hover {
    transition: background 0.3s ease-in-out;
    background: rgba(0, 0, 0, 0.7);
}

.join-item:hover img {
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

#join .cta-button {
    text-align: center;
    width: 20%;
    background-color: #C94F85;
    color: #FFF4C4;
    transition: background-color 0.3s ease-in-out;
}

#join .cta-button:hover {
    background-color: #F76AA7;
    transition: background-color 0.3s ease-in-out;
}

/* Testimonial Section Styling */
#testimonial {
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.testimonial-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.testimonial-item {
    background: linear-gradient(to bottom, #F76AA7, #C94F85);
    color: #FFF4C4;
    border-radius: 25px;
    width: 45%;
    margin: 2rem 0;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    text-align: justify;
    transition: all 0.3s ease-in-out;
}

#testimonial .cta-button {
    width: 20%;
    text-align: center;
    background-color: #FFF4C4;
    color: #F76AA7;
    transition: background-color 0.3s ease-in-out;
}

#testimonial .cta-button:hover {
    background-color: #f2f2f2;
    color: #C94F85;
    transition: background-color 0.3s ease-in-out;
}
/* Animation */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes translate {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0);
    }
    
}