@import url(https://fonts.googleapis.com/css?family=Poppins&display=swap);

body{
    font family: "Poppins";
    background-color: #ffffff;
}

/* Header */
.Rheader{
    background-color: #fad1e2;
    text-align: center;
    padding: 40px;
    color: #f66aa7;
    border-bottom: 1px groove #ea5998;
}

.Rheader_title{
    font-size: 36px;
    display: flex; 
    justify-content: center;
}

.Rheader_desc{
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top:-20px ;
}

.RSection{
    width: 900px;
}
.RSection_header{
    font-size:24px;
    border-left: 6px solid #ea5998;
    border-top-right-radius: 20px ;
    border-bottom-right-radius: 20px;
    background-color: #fad1e2;
    color: #f66aa7;
}

.RSection_titletext{
    margin-left: 15px;

}

.RSection_desctext{
    margin-left: 15px;
    margin-top:-30px ;
    font-size: 16px;

}
